@media (max-width: 1280px){
  .field a.next,
  .field a.prev{
    /*display: none;*/
  }
  .partners-logos {
    padding: 40px 0px;
  }
  .partners-logos img {
    padding: auto;
  }
}

@media (max-width: 1200px){
  .collage > img{
    width: 100%;
  }
}

@media (max-width: 1024px){
  h1{
    font-size: 48px;
  }
  .menu h4 {
    font-size: 16px;
  }
}

@media (max-width: 992px){
  .tablet-hidden{
    display: none;
  }
  .menu h4 {
  }
  .menu__item p {
    margin: 20px 0 0 0px;
  }
  .collage > img,
  .collage .scroll-mouse{
    display: none;
  }
  .collage__logo{
    position: relative;
    top: 0;
    left:0;
  }
  .collage-wrapper{
    margin: 0;
  }
  .catalog {
    background: #fff;
  }
  .col {
    margin: 0px;
  }
  .field .owl-controls.clickable {
    bottom: 0px;
  }
  .seed__item, .fertilizers__item, .gerbicid__item {
     /*padding: 0 0 0 10px;*/
  }
}

@media (max-width: 768px){
  .phone-hidden{
    display: none;
  }
  .header__head {
    padding: 30px 0;
  }
  .menu__item{
  margin-bottom: 25px;
  }
  .shadow {
  display: none;
  }
  .field-wrapper {
    background: #fff;
  }
  .field h4, .field a{
    color: #851900;
  }
  .col {
    margin-left: 5px;
  }
  .seed__items .owl-item,
  .gerbicid__items .owl-item,
  .fertilizers__items .owl-item  {
  }

}