/**reset**/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**base style**/

body {
  background-color: #fff;
  border-top: 8px solid #861c00;
  font-family: 'Roboto-Light', sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  color: #851900;
}

a:hover {
  text-decoration: none;
  outline: none;
  border: none;
}

a:focus, .btn:focus {
  outline: none;
  text-decoration: none;
}

input:focus, textarea:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 38px;
  color: #851900;
}

h1 {
  font-size: 59px;
  font-family: "Helvetica-Bold", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 40px;
  font-family: "Roboto-Bold", Arial, sans-serif;
  text-transform: none;
  float: left;
  padding: 0 30px;
  color: #000
}

h3 {
  font-size: 35px;
  line-height: 26px;
  font-family: "Roboto-Regular", Arial, sans-serif;
}

h4 {
  font-size: 21px;
  font-family: "Roboto-Medium", Arial, sans-serif;
  text-transform: uppercase;
}

h5{
  font-size: 18px;
  line-height: 53px;
  font-family: "Roboto-Regular", Arial, sans-serif;
}
h6{
  font-size: 14px;
  line-height: 53px;
  font-family: "Roboto-Regular", Arial, sans-serif;
}

p, li {
  font-size: 18px;
  line-height: 34px;
}
b{
  font-family:"Roboto-Medium";
  font-weight: bold;
}

.btn {
  background: #00a84a;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-family: "Roboto-Medium", sasn-serif;
  padding: 15px 40px;
  text-decoration: none;
}
.btn:hover {
  background: #00803e;
}

section {
  padding: 25px 0;
}

.wrapper__item{
  width: 100%;
  position: relative;
}
.center{
  margin: 0 auto;
  width: 1200px;
}
.header__head{
  padding: 100px 0 60px 0;
  text-align: center;
}
.header__head h4{
  font-family: "Helvetica-Roman", Arial, sans-serif;
  padding-top: 15px;
}
/*icons*/
i{
  display: inline-block;
  float: left;
}
.icon{
  width: 32px;
  height: 32px;
  padding: 0 10px;
}
.icon-company{
  background: url("../images/icon-man-with-company.png") center no-repeat;
}
.icon-catalog{
  background: url("../images/icon-catalog.png") center no-repeat;
}
.icon-media{
  background: url("../images/icon-media.png") center no-repeat;
}
.icon-contacts{
  background: url("../images/icon-contacts.png") center no-repeat;
}
.icon-news{
  background: url("../images/icon-news.png") center no-repeat;
}
.icon-arrow-down{
  background: url("../images/icon-arrow-down.png") center no-repeat;
}
.menu{
  overflow: hidden;
  width: 1140px;
  height: 320px;
  background-color: #e9e9e9;
  padding: 40px 30px;
}
.menu a{
  text-decoration: none;
}
.menu a:hover{
  text-decoration: underline;
}
.shadow{
  height: 98px;
  background-image: url("../images/menu-shadow.png");
  background-position: -16px -55px;
  background-repeat: no-repeat;
}
.menu__item{
  float: left;
  display: inline-block;
}
.menu__item p{
  margin: 30px 0 0 40px;
  line-height: 24px;
}
.menu__item2,.menu__item3,.menu__item4{
  margin-left: 60px;
}
.menu__item1{
  width: 220px;
}
.menu__item2{
  width: 340px;
}
.menu__item3{
  width: 200px;
}
.menu__item4{
  width: 160px;
}
.menu .menu__item:last-child h4{
  margin-bottom: 50px;
}
.menu .icon{
  padding: 0 10px 0 0;
}

/*=================collage==================*/
.collage-wrapper{
  text-align: center;
  margin-top: 50px;
  position: relative;
}
.collage__logo{
  width: 215px;
  height: 215px;
  background: url("../images/logo.png") center no-repeat;
  position: absolute;
  position: absolute;
  top: -80px;
  left: 500px;
}
.scroll-mouse{
  position: absolute;
  right: 30px;
  top: 130px;
  display: inline-block;
  background: url("../images/icon-gortati.png");
  width: 48px;
  height: 93px;
}

/*====================catalog=====================*/

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}
.catalog{
  margin: 0 auto;
  background: url("../images/catalog-bg.jpg") 0 190px repeat-x;
  z-index: 1;
  overflow: hidden;
}
.catalog-wrapper{
  z-index: 3;
}
.catalog h2,
.seed__head h2{
  text-transform: none;
  float: left;
  padding: 0 40px;
}
.catalog__head a,
.seed__head a{
  line-height: 45px;
}
.catalog__item{
  width: 200px;
  text-align: center;
  float: left;
  padding: 0px 50px;
}
.catalog__item h4 a,
.seed__item h4 a{
  text-decoration: none;
}
.catalog__item .icon-box{
  width: 160px;
  height: 160px;
  margin: 40px 0 40px 15px;
}
.icon-box a:hover{
  text-decoration: none;
  border: 0;
}

/*===================Field====================*/
.field-wrapper{
  background: url("../images/field-bg.jpg") center no-repeat;
}
.field{
  position: relative;
}
.field .owl-controls.clickable {
  position: absolute;
  left: 47%;
  bottom: 20px;
}
.field .owl-theme .owl-controls .owl-page span,
.field .owl-theme .owl-controls .owl-page:hover span{
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px 7px;
  background: url("../images/icon-trigger-sprite.png") 0 0 no-repeat;/*grey*/
}
.field .owl-theme .owl-controls .owl-page.active span {
  display: block;
  width: 24px;
  height: 24px;
  margin: 5px 7px;
  background: url("../images/icon-trigger-sprite.png") 0px -23px no-repeat;/*red*/
}
.field h4,
.field a{
  color: #fff;
  margin-bottom: -15px;
}
.field__item a {
  margin-left: 100px;
}
.field__item{
  padding: 115px 0 90px 0;
  float: left;
  /*position: relative;*/
  /*overflow: hidden;*/
}
.field .owl-wrapper{
  /*width: 1200px!important;*/
}
.field .owl-item{
  width: 1200px!important;
}
.row{
  float: left;
  margin-top: 60px;
}
.col{
  padding: 10px 7px;
  margin: 0 49px;
  width: 285px;
  text-align: center;
  float: left;
}
.prev,
.next {
  display: block;
  position: absolute;
  top: 400px;
  width: 59px;
  height: 59px;
  cursor: pointer;
  z-index: 99999;
}
.prev{
  left: 0;
  background: url("../images/nav-arrow-sprite.png") 0 -60px no-repeat;
}
.prev:hover{
  cursor: pointer;
  background: url("../images/nav-arrow-sprite.png") 0 0 no-repeat;
}
.next{
  right: 0;
  background: url("../images/nav-arrow-sprite.png") -60px -60px no-repeat;
}
.next:hover{
  cursor: pointer;
  background: url("../images/nav-arrow-sprite.png") -60px 0 no-repeat;
}

/*===============================SEED GERBICID FERTILIZERS NEWS===============================*/
.seed__head,
.gerbicid__head,
.fertilizers__head{
  padding-bottom: 50px;
}
.seed__head a,
.gerbicid__head a,
.fertilizers__head a,
.news__head a,
.partners,
.partners__item h4{
  line-height: 50px;
}
.seed,
.seed__item h4,
.gerbicid,
.gerbicid__item h4,
.fertilizers,
.fertilizers__item h4,
.news,
.news__item{
  color: #000!important;
  margin-top: 40px;
}
.seed .icon-box,
.gerbicid .icon-box,
.fertilizers .icon-box{
  width: 208px;
  height: 208px;
  border:1px solid #851900;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

}
.seed__item,
.fertilizers__item,
.gerbicid__item{
  width: 200px;
  text-align: center;
  float: left;
  padding: 0px 50px;
}
.seed__item h4 a,
.gerbicid__item h4 a,
.fertilizers__item h4 a,
.news h4 a{
  text-decoration: none;
}

.seed .owl-pagination,
.gerbicid .owl-pagination,
.fertilizers .owl-pagination{
  display: none;
}
.owl-buttons{
  margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev,
.owl-theme .owl-controls .owl-buttons div.owl-next{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 1px!important;
  opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
  background: url("../images/nav-arrow-sprite.png") -120px -34px no-repeat;
  border-radius: 0;
  padding: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:hover{
  background: url("../images/nav-arrow-sprite.png") -122px -1px no-repeat;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
  background: url("../images/nav-arrow-sprite.png") -156px -2px no-repeat;
  border-radius: 0;
  padding: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover{
  background: url("../images/nav-arrow-sprite.png") -153px -35px  no-repeat;
}

/*=================News additionally==============*/
.news-wrapper{
  background-color: #f0f0f0;
}
.newscontent-wrapper{
  overflow: hidden;
}
.news__head{
  padding-bottom: 20px;
}
.news__content{
  width: 822px;
  padding: 0 30px 30px 30px;
  float: left;
}
.owl-news .item img{
  display: block;
  width: 100%;
  height: auto;
}
.news__rightbar{
  padding-right: 35px;
  width: 250px;
  overflow: hidden;
}
.news__content p span.date{
  font-size: 21px;
  font-family:"Roboto-Regular", sans-serif;
  color: #851900;
}
.news__content h4{
  font-size: 21px;
  font-family:"Roboto-Bold", sans-serif;
  color: #000;
  padding: 15px 0;
}
.news__content .btn{
  margin-top: 30px;
}

.lastnews h4{
  margin: -10px 0 20px 0;
}
.lastnews img{
  float: left;
  margin-right: 15px;
}
.lastnews p{
  line-height: 29px;
}
.lastnews a{
  text-decoration: none;
  font-family: "Roboto-Regular", Arial, sans-serif;
  color: #000;
}
.lastnews p span{
  font-family: "Roboto-Light", Arial, sans-serif;
  font-size: 15px;
}
.lastnews__item{
  margin-bottom: 30px;
}
.lastnews_next{
  margin: 1px;
  width: 30px;
  height: 30px;
  background: url("../images/nav-arrow-sprite.png") -120px -68px no-repeat;
}
.lastnews_prev{
  margin: 1px;
  width: 30px;
  height: 30px;
  background: url("../images/nav-arrow-sprite.png") -153px -104px no-repeat;
}
.lastnews_next:hover{
  background: url("../images/nav-arrow-sprite.png") -153px -70px no-repeat;
}
.lastnews_prev:hover{
  background: url("../images/nav-arrow-sprite.png") -120px -102px no-repeat;
}
/*========================partners logo************************/
.partners h5{
  position: absolute;
  top: 30px;
  left: -40px;
  line-height: 18px;
  padding: 0 0 0 40px;
  background: url("../images/icon-arrow-left.png") 0 0 no-repeat;
}
.partners__head{
  padding: 50px 0 30px 0;
}
.partners .partners__item{
  border-top: 1px solid #b5b5b5;
  border-bottom: 1px solid #b5b5b5;
}
.partners .partners__item:first-child{
  border-bottom: 0;
}
.partners .partners__item:last-child{
  border-top: 0;
}
.partners .partners__item:nth-child(2n){
  background-color: #f0f0f0;
}
.partners-logos{
  padding: 40px 30px;
}
.partners .logos-head{
  display: inline-block;
  -moz-transform: rotate(-90deg); /* Для Firefox */
  -ms-transform: rotate(-90deg); /* Для IE */
  -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-90deg); /* Для Opera */
  transform: rotate(-90deg);
}
.partners-logos img {
  padding: 10px 30px 0 30px;
}

/**====================clients======================*/

.clients__head{
  padding: 50px 0 50px 0;
}
.clients__map{
  height: 780px;
  background: url("../images/ukraine-map.jpg") center no-repeat;
  overflow: hidden;
  position: relative;
}
.region{
  position: absolute;
  text-align: center;
}
.region a{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url("../images/icon-select-region.png") center no-repeat;
}
.region-1{
  left: 300px;
  top: 150px;
}
.region-2{
  left: 480px;
  top: 190px;
}
.region-3{
  left: 630px;
  top: 210px;
}
.region-4{
  left: 340px;
  top: 280px;
}
.region-5{
  left: 550px;
  top: 350px;
}
.region-6{
  left: 520px;
  top: 450px;
}

/*======================contacts=======================*/
.contacts-wrapper{
  padding: 0;
}
.contacts .center{
  /*padding: 0 30px;*/
  height: inherit;
  position: relative;
}
.contacts__head{
  padding: 50px 0 50px 0;
}
.contacts__map{
  height: 470px;
  background: url("../images/contacts-map.jpg");
}
.contacts .pp{
  position: absolute;
  left: 550px;
  top: -100px;
  display: inline-block;
  background-color: #dddddd;
  padding: 65px 50px;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
}
.contacts .pp h4{
  text-transform: none;
}
.contacts .phone{
  position: absolute;
  left: 30px;
  top: 100px;
  display: inline-block;
  background-color: #861c00;
  padding: 15px 30px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
}
.contacts .address{
  position: absolute;
  right: 30px;
  bottom: -32px;
  display: inline-block;
  background-color: #00a84a;
  padding: 15px 30px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.41);
  z-index: 2;
}
.contacts p{
  line-height: 48px;
}

/*============================Footer======================*/
footer{
  background-color: #ddd;
  height: 900px;
  padding: 40px 0px;
  overflow: hidden;
}
.footer__logo {
  margin: 0 auto;
  text-align: center;
  width: 245px;
}
.footer__social{
  text-align: center;
}
.footer__social ul li{
  float: left;
  margin-left: 15px;
  text-align: center;
  margin-top: 10px;
}
.footer__menu{
  background-color: #ddd;
  color: #000;
  border-bottom:1px solid #a7a7a7;
  height: auto;
}
.footer__menu li{
  list-style: disc;
  list-style-position: inside;
}
.footer__menu .menu__item{
  float: left;
  display: inline-block;
}
.footer__menu .menu__item p{
  margin-top: 30px;
}
.footer__menu .menu__item2,.footer__menu .menu__item3,.footer__menu .menu__item4{
  margin-left: 60px;
}
.footer__menu .menu__item1{
  width: 230px;
}
.footer__menu .menu__item2{
  width: 320px;
}
.footer__menu .menu__item3{
  width: 110px;
}
.footer__menu .menu__item4{
  width: 170px;
}
.footer__menu .menu .menu__item:last-child h4{
  margin-bottom: 50px;
}
.footer__contacts{
  padding: 40px 30px;
  border-bottom:1px solid #a7a7a7;
  overflow: hidden;
}
.footer__contacts p{
  float: left;
  margin-right: 60px;
  line-height: 48px;
}
.footer__copy{
  padding: 40px 30px;
  overflow: hidden;
}
.footer__copy p{
  display: inline-block;
}
.abdesign{
  float: right;
  position: relative;
}
.abdesign p{
  margin-right: 80px;
}
.abdesign img{
  position: absolute;
  right: 0;
  top: -10px;
}

/*
*       ABOUT - US 2
************************************************/

.header__logo{
  text-align: center;
  padding-top: 20px;
  margin-bottom: -50px;
}

/*==================================SIDEBAR=============================*/

.sidebar{
  width: 255px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.sidebar__menu li a{
  display: block;
  padding: 20px 40px;
  border-bottom: 1px solid #bcbcbc;
  color: #000;
  text-decoration: none;
}
.sidebar__menu li:hover a,
.sidebar__menu li.active a{
  font-family: "Roboto-Medium";
  color: #861c00;
}



/*==================================CONTENT==================================*/
.content{
  overflow: hidden;
}
.content-text{
  padding: 0px 15px 50px 15px;
  width: 885px;
  float: right;
}
.content-main-head{
  margin: 0 auto;
}
.content-main-head h2{
  text-align: center;
  float: none;
}
.content-main-head h2 img{
  margin-right: 15px;
}
.content-text h4{
  padding: 10px 0;
  text-align: center;
}
.content-text img{
  display: block;
  margin: 0 auto;
}
.content-text .image-container{
  border-bottom:1px solid #c4c4c4;
  margin: 35px 0;
}
.content-text li{
  list-style-image: url("../images/li-style-bg.png");
  margin-left: 15px;
}







@import url("media.css");